{% extends 'home.html' %}
{% load staticfiles %}
{% block contain %}
<section id="content">

                <div class="page page-forms-wizard">

                    <div class="pageheader">

                        <h2>Add Driver<span></span></h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html"><i class="fa fa-home"></i> Ship Easy</a>
                                </li>
                                <li>
                                    <a href="#">Add Driver one/two</a>
                                </li>
                                <li>
                                    <a href="#">Add Driver</a>
                                </li>
                            </ul>

                        </div>

                            <form name="form1" role="form" id="form1" action="/driver/add_driver_two_process/" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
                                    <div hidden><input type="text" name="id" value="{{ id }}"></div>
                                    <div hidden><input type="text" name="update_id" value="{{ driver_obj.id }}"></div>

                                            <div class="form-group col-md-4">
                                            <label for="username">Preferance One:</label>
                                            <input type="text" name="preference_one" id="preference_one" class="form-control"
                                                  value="{{ driver_obj.reference_one }}"
                                                   required>
                                        </div>
                                    <div class="form-group col-md-4">
                                            <label for="username">Preferance Two:</label>
                                            <input type="text" name="preference_two" id="preference_two" class="form-control"
                                                   value="{{ driver_obj.reference_two }}"
                                                   required>
                                        </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-4">
                                            <label for="username">Address One:</label>
                                            <input type="text" name="address_one" id="address_one" class="form-control"
                                                   value="{{ driver_obj.address_one }}"
                                                   required>
                                        </div>
                                    <div class="form-group col-md-4">
                                            <label for="username">Address Two:</label>
                                            <input type="text" name="address_two" id="address_two" class="form-control"
                                                  value="{{ driver_obj.address_two }}"
                                                   required>
                                        </div>



                                        </div>



{#            <div class="form-row">#}
{#                <label>#}
{#                    <span>Birth Date</span>#}
{#                    <input type="text" name="dob" id="datepicker"  required>#}
{#                </label>#}
{#            </div>#}



{#                                        <div class="form-group">#}
{#                                            <label for="phone">Phone: </label>#}
{#                                            <input type="text" name="phone" id="phone" class="form-control" placeholder="(XXX) XXXX XXX"#}
{#                                                   data-parsley-trigger="change"#}
{#                                                   pattern="^[\d\+\-\.\(\)\/\s]*$"#}
{#                                                   required>#}
{#                                        </div>#}
{##}
{#                                        <div class="checkbox">#}
{#                                            <label class="checkbox checkbox-custom">#}
{#                                                <input type="checkbox" name="agree" id="agree"#}
{#                                                       data-parsley-trigger="change"#}
{#                                                       required>#}
{#                                                <i></i> I agree to the <a href class="text-info">Terms of Service</a>#}
{#                                            </label>#}
{#                                        </div>#}

{#                                <input type="submit" value="next">#}
<div class="row", align="center" style="align-content: center">
<input type="submit" class="btn btn-success" id="form1Submit" value="Submit"></input>
</div>

                        </form>

                    </div>
                        </div>

                    </div>
                    <!-- /page content -->

                </div>

            </section>
            <!--/ CONTENT -->

{% endblock %}

{% block scripts %}

<script>

            function init() {

                var input = document.getElementById('address_one');
                var autocomplete = new google.maps.places.Autocomplete(input);
            }

            google.maps.event.addDomListener(window, 'load', init);


</script>

        <script>

            function init() {
                var input = document.getElementById('address_two');
                var autocomplete = new google.maps.places.Autocomplete(input);
            }

            google.maps.event.addDomListener(window, 'load', init);


</script>



{% endblock %}