{% extends 'home.html' %}
{% load staticfiles %}
{% block contain %}
    <section id="content">

                <div class="page page-tables-datatables">

                    <div class="pageheader">

                        <h2>Datatables <span>// You can place subtitle here</span></h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html"><i class="fa fa-home"></i> Ship easy</a>
                                </li>
                                <li>
                                    <a href="#">Status table</a>
                                </li>
{#                                <li>#}
{#                                    <a href="tables-datatables.html"></a>#}
{#                                </li>#}
                            </ul>

                        </div>

                    </div>

                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-md-12">


                            <!-- tile -->
                            <section class="tile">


                            <section class="tile">

                                <!-- tile header -->
                                <div class="tile-header dvd dvd-btm">
                                    <h1 class="custom-font"><strong>Responsive</strong> Table</h1>
                                    <ul class="controls">
                                        <li class="dropdown">

                                            <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                                                <i class="fa fa-cog"></i>
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </a>

                                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-toggle">
                                                        <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                                        <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-refresh">
                                                        <i class="fa fa-refresh"></i> Refresh
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-fullscreen">
                                                        <i class="fa fa-expand"></i> Fullscreen
                                                    </a>
                                                </li>
                                            </ul>

                                        </li>
                                        <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /tile header -->

                                <!-- tile body -->
                                <div class="tile-body">
                                    <table class="table table-custom dt-responsive" id="responsive-usage" width="100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Licen Number</th>
                                            <th>Driver</th>
                                            <th>Mobile</th>
                                            <th>Status</th>


{#                                            <th>Capacity</th>#}
{#                                            <th>Type</th>#}
{#                                            <th>wheals</th>#}

{#                                            <th class="none">Owener Name</th>#}
{#                                            <th class="none">Axcel</th>#}
{#                                            <th class="none">Model</th>#}
{#                                            <th width="10%">Action</th>#}
{#                                            <th width="10%">Action</th>#}

                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /tile body -->

                            </section>


            </section>
            <!--/ CONTENT -->





{% endblock %}

{% block scripts %}

        <!-- ============================================
        ============== Vendor JavaScripts ===============
        ============================================= -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "assets/js/vendor/jquery/jquery-1.11.2.min.js"%}"><\/script>')</script>


        <script src="{% static "assets/js/vendor/datatables/js/jquery.dataTables.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/Responsive/js/dataTables.responsive.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/ColVis/js/dataTables.colVis.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/dataTables.bootstrap.js"%}"></script>

        <!--/ vendor javascripts -->




        <!-- ============================================
        ============== Custom JavaScripts ===============
        ============================================= -->
{#        <script src="{% static "assets/js/main.js"%}"></script>#}
        <!--/ custom javascripts -->






        <!-- ===============================================
        ============== Page Specific Scripts ===============
        ================================================ -->
        <script>
            $(window).load(function(){

                //initialize basic datatable

                //*initialize editable datatable

                //initialize responsive datatable
                var table3 = $('#responsive-usage').DataTable({
                    "processing":true,
{#                    "ajax": "{% static "assets/extras/datatables-responsive.json"%}",#}
                    "ajax" :
                        {
                                            "url": "/truck_driver_pair/status_table_data/",
                                            "dataSrc": "",
                                            "targets": -1,
{#                "type":"POST",#}
                                            "dataType": "json",
                                            "contentType": "application/json; charset=utf-8"
                        },

                    "columns": [
                        { "data": "id" },
                        { "data": "truck_licen" },
                        { "data": "driver_name" },
                        { "data": "mobile" },
                        {"data": "status_check"
{##}
{#                        "type": "html",#}
{#                            "data": "status_check",#}
{#                            "render": function (data) {#}
{#                                if (data === 'paid') {#}
{#                                    return '<span class="label bg-success">' + data + '</span>'#}
{#                                } else if (data === 'unpaid') {#}
{#                                    return '<span class="label bg-warning">' + data + '</span>'#}
{#                                } else if (data === 'cancelled') {#}
{#                                    return '<span class="label bg-lightred">' + data + '</span>'#}
{#                                } else if (data === 'sent') {#}
{#                                    return '<span class="label bg-primary">' + data + '</span>'#}
{#                                }#}
{#                            }#}
                        },
{#                        { "data": "truck_type" },#}
{#                        { "data": "wheels" },#}
{#                        { "data": "owener_name" },#}
{#                        { "data": "axle_type" },#}
{#                        { "data": "model" },#}
{#                        {#}
{#                        "title": "Edit",#}
{#                            "render": function (data, type, row, meta) {#}
{##}
{#                            return '<a href="/add_truck/' + row["id"] + '">' + "Edit" + '</a>';#}
{#             },#}
{##}
{#         },#}
{#                        {#}
{#                            "title": "Deleate",#}
{#                            "render": function (data, type, row, meta) {#}
{#                                return '<a href="/deleate_truck/' + row["id"] + '">' + "Deleate" + '</a>';#}
{#                            }#}
{#                        }#}
                    ],
                    "aoColumnDefs": [
                      { 'bSortable': false, 'aTargets': [ "no-sort" ] }
                    ]
                });

                setInterval( function () {
    table3.ajax.reload();
}, 30000 );

                var table = $('#responsive-usage').DataTable();

$('#responsive-usage tbody').on( 'click', 'td', function () {
    if ((table.cell( this ).index().columnVisible) === 8)
                {
                    alert("data Deleted");
                }
{#    else{#}
{#                    alert("by");#}
{##}
{#    }#}


} );

            });
        </script>
        <!--/ Page Specific Scripts -->



{% endblock %}