{% extends 'home.html' %}
{% load staticfiles %}
{% block contain %}
<section id="content">

                <div class="page page-forms-wizard">

                    <div class="pageheader">

                        <h2>Truck Driver Pair<span></span></h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html"><i class="fa fa-home"></i> Ship Easy</a>
                                </li>
                                <li>
                                    <a href="#">Pair Truck Driver</a>
                                </li>
{#                                <li>#}
{#                                    <a href="form-wizard.html">Form Wizard</a>#}
{#                                </li>#}
                            </ul>

                        </div>

                            <form name="form1" role="form" id="form1" action="/truck_driver_pair/pair_process/" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
                            <div class="col-md-4">
                               <label class="control-label">Select Truck</label>
		                    <select name="truck" id="truck" class="form-control col-md-4">
		                        <option value="">Select Truck</option>
                                    {% for i in truck %}
                        {#                <input type="text" value="{{ i.id }}">#}
                                        <option value="{{ i.id }}" >{{ i.licanse_number }}</option>
                                    {% endfor %}
                                    </select>
                            </div>

                                <div class="col-md-4">
                                    <label class="control-label">Select Driver</label>



		                    <select name="driver" id="driver" class="form-control">
		                        <option value="">Select Driver</option>
                                    {% for i in driver %}
                        {#                <input type="text" value="{{ i.id }}">#}
                                        <option value="{{ i.id }}" >{{ i.driver_name }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                        </div>



{#            <div class="form-row">#}
{#                <label>#}
{#                    <span>Birth Date</span>#}
{#                    <input type="text" name="dob" id="datepicker"  required>#}
{#                </label>#}
{#            </div>#}



{#                                        <div class="form-group">#}
{#                                            <label for="phone">Phone: </label>#}
{#                                            <input type="text" name="phone" id="phone" class="form-control" placeholder="(XXX) XXXX XXX"#}
{#                                                   data-parsley-trigger="change"#}
{#                                                   pattern="^[\d\+\-\.\(\)\/\s]*$"#}
{#                                                   required>#}
{#                                        </div>#}
{##}
{#                                        <div class="checkbox">#}
{#                                            <label class="checkbox checkbox-custom">#}
{#                                                <input type="checkbox" name="agree" id="agree"#}
{#                                                       data-parsley-trigger="change"#}
{#                                                       required>#}
{#                                                <i></i> I agree to the <a href class="text-info">Terms of Service</a>#}
{#                                            </label>#}
{#                                        </div>#}

                                <input type="submit" value="next">


                        </form>

                    </div>
                        </div>

                    </div>
                    <!-- /page content -->

                </div>

            </section>
            <!--/ CONTENT -->
{% endblock %}