{% extends 'home.html' %}
{% load staticfiles %}
{% block contain %}
     <section id="content">


                <div class="page page-forms-wizard">

                    <div class="pageheader">

                        <h2>Send Scanrd Form</h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="#"><i class="fa fa-home"></i> Ship Easy</a>
                                </li>
                                <li>
                                    <a href="#">Send Scaned Details</a>
                                </li>
{#                                <li>#}
{#                                    <a href="form-wizard.html">Form Wizard</a>#}
{#                                </li>#}
                            </ul>

                        </div>

                            <form name="form1" role="form" id="form1" action="/gps/mail_documents/" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
{#                            <div class="col-md-4" id = "driver_div">#}
{#                               <label class="control-label">Select Driver </label>#}
{#		                    <select name="driver" id="driver" class="form-control col-md-4" onchange="onAssociateChange()">#}
{#		                        <option value="None">Select Driver</option>#}
{#                                    {% for i in driver %}#}
                        {#                <input type="text" value="{{ i.id }}">#}
{#                                        <option value="{{ i.mobile_number }}" >{{ i.driver_name }}</option>#}
{#                                    {% endfor %}#}
{#                                    </select>#}
{#                            </div>#}

                                <div class="col-md-4" id = "truck_div">
                                    <label class="control-label">Select Truck</label>

		                    <select name="truck" id="truck" class="form-control" onchange="onDriverChange()">
		                        <option value="None">Select Truck</option>
                                    {% for i in truck %}
                        {#                <input type="text" value="{{ i.id }}">#}
                                        <option value="{{ i.mobile_number }}" >{{ i.licanse_number }}</option>
                                    {% endfor %}
                                    </select>
                                </div>

                                                    <div class="col-md-4" id = "driver_div">
                               <label class="control-label">Select Driver </label>
		                    <select name="driver" id="driver" class="form-control col-md-4" onchange="onAssociateChange()">
		                        <option value="None">Select Driver</option>
                                    {% for i in driver %}
{#                                        <input type="text" value="{{ i.id }}">#}
                                        <option value="{{ i.mobile_number }}" >{{ i.driver_name }}</option>
                                    {% endfor %}
                                    </select>
                            </div>

                                        </div>
{#                    <input type="file" name="file1"/>#}
                            <div class="row">
                                                <div class="form-group col-md-3">
                                                <label for="passwordConfirm">Scaned Document: </label>
                                                <input type="file" name="file1" id="fitnes" class="form-control"
                                                       data-parsley-trigger="change"
                                                       data-parsley-range="[4, 20]"
                                                       data-parsley-equalto="#password"
                                                       required>
                                            </div>
                            </div>

                            <div class="row", align="center" style="align-content: center">
<input type="submit" class="btn btn-success" id="form1Submit" value="Next"></input>
</div>


                        </form>

                    </div>
                        </div>

                    </div>
                    <!-- /page content -->

                </div>

       <div align="center">
                            <p style="color: #1ccdaa; font-size:200%;">{{ message }}*</p>
                        </div>

            </section>
            <!--/ CONTENT -->


{% endblock %}

{% block scripts %}

      <script>
  $( function() {
      var message = $("#message_type").val();
      if (message !== "")
      {
           $( "#dialog" ).dialog();
      }
      else
      {

      }

  } );
  </script>


    <script type="text/javascript">
            $(document).ready(function () {

             });
                function onAssociateChange() {
                    {#                var x = document.getElementById("truck_id").value;#}
                    var user_id = $('#truck').val();

                    var relation = document.getElementById("truck_div");

                    if(user_id !== "")
                    {
                        relation.style.visibility = 'hidden';
                    }



                }
                function onDriverChange() {
                    {#                var x = document.getElementById("truck_id").value;#}
                    var user_id = $('#driver').val();

                    var relation = document.getElementById("driver_div");

                    if(user_id !== "")
                    {
                        relation.style.visibility = 'hidden';
                    }



                }


        </script>

{% endblock %}