{% extends 'home.html' %}
{% load staticfiles %}
{% block contain %}
     <section id="content">

                <div class="page page-tables-datatables">

                    <div class="pageheader">

                        <h2>GPS Table {{ truck_mobile }}<span>{{ in_it }}// You can place subtitle here</span></h2>
                        <input type="text" id="myVar" name="variable" value="{{ data }}" hidden>
                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="#"><i class="fa fa-home"></i> Ship Easy</a>
                                </li>
                                <li>
                                    <a href="#">GPS DATA</a>
                                </li>
{#                                <li>#}
{#                                    <a href="tables-datatables.html">Datatables</a>#}
{#                                </li>#}
                            </ul>

                        </div>

                    </div>

                    <div class="row">
                        <!-- col -->
                        <div class="col-md-12">


                            <!-- tile -->
                            <section class="tile">


{#                            <!-- tile -->#}
                            <section class="tile">

                                <!-- tile header -->
                                <div class="tile-header dvd dvd-btm">
                                    <h1 class="custom-font"><strong>Responsive</strong> Table</h1>
                                    <ul class="controls">
                                        <li class="dropdown">

                                            <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                                                <i class="fa fa-cog"></i>
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </a>

                                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-toggle">
                                                        <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                                        <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-refresh">
                                                        <i class="fa fa-refresh"></i> Refresh
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-fullscreen">
                                                        <i class="fa fa-expand"></i> Fullscreen
                                                    </a>
                                                </li>
                                            </ul>

                                        </li>
                                        <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /tile header -->

                                <!-- tile body -->
                                <div class="tile-body">
                                    <table class="table table-custom dt-responsive" id="responsive-usage" width="100%">
                                        <thead>
                                        <tr>
                                            <th>licen Number</th>
                                            <th>Mobile Number</th>
                                            <th>longitude</th>
                                            <th>altitude</th>
                                            <th>latitude</th>
                                            <th>timestamp</th>

                                            <th>driver_name</th>


                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /tile body -->
                            </section>



            <!--/ CONTENT -->


{% endblock %}

{% block scripts %}

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>#}
{#        <script>window.jQuery || document.write('<script src="{% static "assets/js/vendor/jquery/jquery-1.11.2.min.js"%}"><\/script>')</script>#}
{##}
{#        <script src="{% static "assets/js/vendor/bootstrap/bootstrap.min.js"%}"></script>#}
{##}
{#        <script src="{% static "assets/js/vendor/jRespond/jRespond.min.js"%}"></script>#}
{##}
{#        <script src="{% static "assets/js/vendor/sparkline/jquery.sparkline.min.js"%}"></script>#}
{##}
{#        <script src="{% static "assets/js/vendor/slimscroll/jquery.slimscroll.min.js"%}"></script>#}
{##}
{#        <script src="{% static "assets/js/vendor/animsition/js/jquery.animsition.min.js"%}"></script>#}
{##}
{#        <script src="{% static "assets/js/vendor/screenfull/screenfull.min.js"%}"></script>#}

        <script src="{% static "assets/js/vendor/datatables/js/jquery.dataTables.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/Responsive/js/dataTables.responsive.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/ColVis/js/dataTables.colVis.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/dataTables.bootstrap.js"%}"></script>

        <!--/ vendor javascripts -->




        <!-- ============================================
        ============== Custom JavaScripts ===============
        ============================================= -->
{#        <script src="{% static "assets/js/main.js"%}"></script>#}
        <!--/ custom javascripts -->






        <!-- ===============================================
        ============== Page Specific Scripts ===============
        ================================================ -->
        <script type="text/javascript">
            $(window).load(function(){

                //initialize basic datatable


                //*initialize editable datatable
                var myVar = document.getElementById("myVar").value;

                 var json=JSON.stringify({{ data | safe }});
{#                 alert(dataSet);#}
{#                 var data = JSON.parse(json);#}

                var table3 = $('#responsive-usage').DataTable(
                    {
                    "data": JSON.parse(json),
                    "columns": [

                        { "data": "licen_number" },
                        { "data": "longitude" },
                        { "data": "longitude" },
                        { "data": "altitude" },
                        { "data": "latitude" },
                        { "data": "timestamp" },
                        { "data": "driver_name" }
                    ],
                    "aoColumnDefs": [
                      { 'bSortable': false, 'aTargets': [ "no-sort" ] }
                    ]
                });

                //initialize responsive datatable

{#                var mobile = "5678906780";#}
{#                var table3 = $('#responsive-usage').DataTable({#}
{#                    "processing":true,#}
{##}
{#                    "ajax": "{% static "assets/extras/datatables-responsive.json"%}",#}
{#                    "ajax" :#}
{#                        {#}
{#                                            "url": "/test_url/"+mobile+"/"+"truck",#}
{#                                                    "url" : "/row_data/",#}
{#                                            "dataSrc": "",#}
{##}
{#                                            "targets": -1,#}
{#                "type":"POST",#}
{#                                            "dataType": "json",#}
{#                                            "contentType": "application/json; charset=utf-8"#}
{#                        },#}
{##}
{#                    "columns": [#}
{#                        { "data": "id" },#}
{#                        { "data": "licen_number" },#}
{#                        { "data": "address" },#}
{#                        { "data": "longitude" },#}
{#                        { "data": "altitude" },#}
{#                        { "data": "latitude" },#}
{#                        { "data": "timestamp" },#}
{#                        { "data": "driver_name" },#}
{#                        { "data": "axle_type" },#}
{#                        { "data": "model" },#}
{#                        {#}
{#                        "title": "Edit",#}
{#                            "render": function (data, type, row, meta) {#}
{##}
{#                            return '<a href="/add_truck/' + row["id"] + '">' + "Edit" + '</a>';#}
{#             },#}
{##}
{#         },#}
{#                        {#}
{#                            "title": "Deleate",#}
{#                            "render": function (data, type, row, meta) {#}
{#                                return '<a href="/deleate_truck/' + row["id"] + '">' + "Deleate" + '</a>';#}
{#                            }#}
{#                        }#}
{#                    ],#}
{#                    "aoColumnDefs": [#}
{#                      { 'bSortable': false, 'aTargets': [ "no-sort" ] }#}
{#                    ]#}
{#                });#}
{##}
{#                var table = $('#responsive-usage').DataTable();#}
{##}
{#$('#responsive-usage tbody').on( 'click', 'td', function () {#}
{#    if ((table.cell( this ).index().columnVisible) === 8)#}
{#                {#}
{#                    alert("data Deleted");#}
{#                }#}
{#    else{#}
{#                    alert("by");#}
{##}
{#    }#}


} );
                //*initialize responsive datatable

{#                //initialize responsive datatable#}
{#                function stateChange(iColumn, bVisible) {#}
{#                    console.log('The column', iColumn, ' has changed its status to', bVisible);#}
{#                }#}
{##}
{#                var table4 = $('#advanced-usage').DataTable({#}
{#                    "ajax": "{% static "assets/extras/datatables-basic.json"%}",#}
{#                    "columns": [#}
{#                        { "data": "id" },#}
{#                        { "data": "firstName" },#}
{#                        { "data": "lastName" }#}
{#                    ],#}
{#                    "aoColumnDefs": [#}
{#                      { 'bSortable': false, 'aTargets': [ "no-sort" ] }#}
{#                    ]#}
{#                });#}
{##}
{#                var colvis = new $.fn.dataTable.ColVis(table4);#}
{##}
{#                $(colvis.button()).insertAfter('#colVis');#}
{#                $(colvis.button()).find('button').addClass('btn btn-default').removeClass('ColVis_Button');#}
{##}
{#                var tt = new $.fn.dataTable.TableTools(table4, {#}
{#                    sRowSelect: 'single',#}
{#                    "aButtons": [#}
{#                        'copy',#}
{#                        'print', {#}
{#                            'sExtends': 'collection',#}
{#                            'sButtonText': 'Save',#}
{#                            'aButtons': ['csv', 'xls', 'pdf']#}
{#                        }#}
{#                    ],#}
{#                    "sSwfPath": "{% static "assets/js/vendor/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf" %}",#}
{#                });#}
{##}
{#                $(tt.fnContainer()).insertAfter('#tableTools');#}
{#                //*initialize responsive datatable#}
{##}
{#            });#}
        </script>

{% endblock %}