{% extends 'home.html' %}
{% load staticfiles %}
{% block contain %}
     <section id="content">

                <div class="page page-forms-wizard">

                    <div class="pageheader">

                        <h2>Send Scanrd Form</h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="#"><i class="fa fa-home"></i> Ship Easy</a>
                                </li>
                                <li>
                                    <a href="#">Send Scaned Details</a>
                                </li>
{#                                <li>#}
{#                                    <a href="form-wizard.html">Form Wizard</a>#}
{#                                </li>#}
                            </ul>

                        </div>

                            <form name="form1" role="form" id="form1" action="/gps/mail_documents/" method="post" enctype="multipart/form-data">{% csrf_token %}
                                <div class="row">
                            <div class="col-md-4">
                               <label class="control-label">Select Driver Mobile Number</label>
		                    <select name="truck" id="truck" class="form-control col-md-4">
		                        <option value="None">Select Driver Mobile Number</option>
                                    {% for i in driver %}
                        {#                <input type="text" value="{{ i.id }}">#}
                                        <option value="{{ i.mobile_number }}" >{{ i.mobile_number }}</option>
                                    {% endfor %}
                                    </select>
                            </div>

                                <div class="col-md-4">
                                    <label class="control-label">Select Truck Mobile Number</label>



		                    <select name="driver" id="driver" class="form-control">
		                        <option value="None">Select Truck Mobile Number</option>
                                    {% for i in truck %}
                        {#                <input type="text" value="{{ i.id }}">#}
                                        <option value="{{ i.mobile_number }}" >{{ i.mobile_number }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                                        </div>
{#                    <input type="file" name="file1"/>#}
                            <div class="row">
                                                <div class="form-group col-md-3">
                                                <label for="passwordConfirm">Scaned Document: </label>
                                                <input type="file" name="file1" id="fitnes" class="form-control"
                                                       data-parsley-trigger="change"
                                                       data-parsley-range="[4, 20]"
                                                       data-parsley-equalto="#password"
                                                       required>
                                            </div>
                            </div>

{#            <div class="form-row">#}
{#                <label>#}
{#                    <span>Birth Date</span>#}
{#                    <input type="text" name="dob" id="datepicker"  required>#}
{#                </label>#}
{#            </div>#}



{#                                        <div class="form-group">#}
{#                                            <label for="phone">Phone: </label>#}
{#                                            <input type="text" name="phone" id="phone" class="form-control" placeholder="(XXX) XXXX XXX"#}
{#                                                   data-parsley-trigger="change"#}
{#                                                   pattern="^[\d\+\-\.\(\)\/\s]*$"#}
{#                                                   required>#}
{#                                        </div>#}
{##}
{#                                        <div class="checkbox">#}
{#                                            <label class="checkbox checkbox-custom">#}
{#                                                <input type="checkbox" name="agree" id="agree"#}
{#                                                       data-parsley-trigger="change"#}
{#                                                       required>#}
{#                                                <i></i> I agree to the <a href class="text-info">Terms of Service</a>#}
{#                                            </label>#}
{#                                        </div>#}
{# <input type="submit" class="btn btn-success" id="form1Submit">Next</input>#}
{#                                <input type="submit" value="next">#}
                            <div class="row", align="center" style="align-content: center">
<input type="submit" class="btn btn-success" id="form1Submit" value="Next"></input>
</div>


                        </form>

                    </div>
                        </div>

                    </div>
                    <!-- /page content -->

                </div>

            </section>
            <!--/ CONTENT -->


{% endblock %}