<!DOCTYPE html>
<html lang="en">
<head>
        <style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
</style>
    <meta charset="UTF-8">
    <title>Idea form</title>
</head>
<body>
<div id="print-content">
SEF | Work Force tracking | IDEA Cellular Ltd.<br>
<p align="center"><b>Sign off from Employee who is being tracked by Administrator</b></p><br>
<p style="text-align: inherit">I hereby agree to subscribe to Work force tracking services from IDEA Cellular Limited<br>
and have read the terms and conditions. I’m aware that my mobile numbers would be<br>
tracked during business hours by my employer for business reasons and completely<br>
exonerate IDEA Cellular Limited from any claims due to breach of privacy obligations<br>
    with my employer due to Work Force Tracking service.</p><br>

<table style="width:70%">
  <tr>
    <th colspan="4">Signoff from User</th>
  </tr>
  <tr>
          <th>sr</th>
      <th>User Name</th>
      <th>MSISDN</th>
      <th>Signature</th>
  </tr>
    <tr>
    <td>1</td>
    <td>{{ obj.owener_name }}{{ obj.driver_name }}</td>
    <td>{{ obj.mobile_number }}</td>
        <td></td>
  </tr>
</table>
</br>
<br>
<b>Key Abbreviations</b><br><br>
1.Customer/Enterprise- Business Organization who wants to subscribe Work force<br>
tracking service from IDEA.<br><br>
2.Parent Employee/ Administrator- Person nominated by Enterprise to track its<br>
employees. Parent employee will have access to track employees on his mobile<br>
and web portal and set/change tracking settings thru web portal and mobile.<br>
3.Employee- IDEA subscriber for cellular services and who are directly/indirectly<br>
associated with this enterprise for business reasons and has given his consent for<br>
the tracking service to be activated on his mobile phone.<br>
4.Authorized Signatory- Person who has power of attorney to sign legal agreement<br>
/ Issue purchase order to IDEA.<br><br>

<b>Terms and Conditions</b><br>
1.This service is provided only to business enterprise whose employees are Idea<br>
subscriber for telecom related service. Business Enterprise has given its written<br>
explicit consent to track its employees’ mobile phone and a formal/legal agreement<br>
has been executed between the business enterprise and the employee who is<br>
being tracked. Idea hereby is only providing the telecom services after obtaining a<br>
written request from the business enterprise authorized signatory and is in no way<br>
liable for any claims by administrator and the employee who is being tracked<br>
incase this service is misused.<br><br>
2.The Customer for Work Force Tracking service understands that IDEA Cellular<br>
Limited only provides telecom connectivity to track the location of his mobile using<br>
GSM network based technology.<br><br>
3.The Work Force Tracking service is available only to the post paid subscribers of<br>
IDEA Cellular Limited (“Idea”).<br><br>
4.The Work Force Tracking service offers tracking at Rs _-__/month over and above<br>
the regular service charges and the same would be charged in mobile bills of the<br>
employees subscribing to services at pro-rata basis<br><br>
5.The accuracy/latency of Work Force Tracking location information depends on<br>
various factors and hence this is to be used for "guiding purpose only" and Idea or<br>
its authorized partner do not take any responsibility for the accuracy of the location<br>
and it is not advisable to use the same for any detection, claim, damage, dispute<br>
or legal purpose. No third party claim of any nature will be entertained by Idea or<br>
its partners in this regard.<br><br>

6.Idea reserves the right to change/modify/terminate the WORK FORCE<br>
TRACKING service any time at its own discretion by giving prior notice but without<br>
assigning reasons to the subscriber.<br><br>
7.Idea and its authorized partner retain the right to deactivate/stop this service any<br>
time for maintenance or business purpose with adequate notice to the subscriber.<br><br>
8.The administrator/Parent Employee is responsible for preservation of the web user<br>
name and password and Idea would not be responsible for any leakage thereof.<br><br>
9.Idea shall not be responsible for any breach of privacy obligations between the<br>
employee and the Enterprise who may be tracking the employee by way of the<br>
Work Force Tracking service. The Enterprise and employee understand that after<br>
subscribing to this service, the handset being carried by the employee can be<br>
tracked through web and mobile and for any privacy issue or legal violations the<br>
Enterprise/Its employee would be responsible.<br><br>
10.The employee shall have the option of enabling the invisible mode during his/her<br>
personal time or his non official working hours. The trackee would be able to make<br>
himself invisible by sending SMS or *988*11# request to Idea but Idea shall not be<br>
responsible for the invisible mode not being enabled if the SMS sent is not received<br>
by Idea due to some temporary fault in network or due to some fault in the<br>
employee’s mobile phone.<br><br>
11.In certain locations we take services from our partners to provide coverage,<br>
Workforce tracking solution will not work in these locations. The details of these<br>
towns are available with Sales/Relation manager.<br>
Internal<br>

  <input type="button" onclick="printDiv('print-content')" value="print!"/>
</div>



<script type="text/javascript">

function printDiv(divName) {

 var printContents = document.getElementById(divName).innerHTML;
 w=window.open();
 w.document.write(printContents);
 w.print();
 w.close();
}
</script>
</body>
</html>