{% extends 'home.html' %}
{% load staticfiles %}
{% block contain %}

<section id="content">

    <div id="dialog" title="ship easy" style="text-align: center;">
<input type="text" value="{{ message }}" id = "message_type" hidden>
  <p id="message_body" align="center">{{ message }}</p>
</div>

                <div class="page page-tables-datatables">

                    <div class="pageheader">

                        <h2>All Trucks <span></span></h2>

                        <div class="page-bar">

                            <ul class="page-breadcrumb">
                                <li>
                                    <a href="index.html"><i class="fa fa-home"></i> Ship Easy</a>
                                </li>
                                <li>
                                    <a href="#">All Truck Tables</a>
                                </li>

                            </ul>

                        </div>

                    </div>

                    <!-- row -->
                    <div class="row">
                        <!-- col -->
                        <div class="col-md-12">


                            <!-- tile -->
                            <section class="tile">

{#                            <!-- tile -->#}
                            <section class="tile">

                                <!-- tile header -->
                                <div class="tile-header dvd dvd-btm">
                                    <h1 class="custom-font"><strong>Responsive</strong> Table</h1>
                                    <ul class="controls">
                                        <li class="dropdown">

                                            <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                                                <i class="fa fa-cog"></i>
                                                <i class="fa fa-spinner fa-spin"></i>
                                            </a>

                                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-toggle">
                                                        <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                                        <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-refresh">
                                                        <i class="fa fa-refresh"></i> Refresh
                                                    </a>
                                                </li>
                                                <li>
                                                    <a role="button" tabindex="0" class="tile-fullscreen">
                                                        <i class="fa fa-expand"></i> Fullscreen
                                                    </a>
                                                </li>
                                            </ul>

                                        </li>
                                        <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li>
                                    </ul>
                                </div>
                                <!-- /tile header -->

                                <!-- tile body -->
                                <div class="tile-body">
                                    <table class="table table-custom dt-responsive" id="responsive-usage" width="100%">
                                        <thead>
                                        <tr>
                                            <th>licen Number</th>
                                            <th>OEM</th>
                                            <th>Mobile</th>
                                            <th>Capacity</th>
                                            <th>Type</th>
                                            <th>wheals</th>

                                            <th class="none">Owener Name</th>
                                            <th class="none">Axcel</th>
                                            <th class="none">Model</th>
                                            <th width="10%">Action</th>
                                            <th width="10%">Action</th>

                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- /tile body -->

                            </section>
                            <!-- /tile -->


            </section>
            <!--/ CONTENT -->
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "assets/js/vendor/jquery/jquery-1.11.2.min.js"%}"><\/script>')</script>


        <!-- ============================================
        ============== Vendor JavaScripts ===============
{#        ============================================= -->#}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "assets/js/vendor/jquery/jquery-1.11.2.min.js"%}"><\/script>')</script>

{#        <script src="{% static "assets/js/vendor/bootstrap/bootstrap.min.js"%}"></script>#}
{##}
{#        <script src="{% static "assets/js/vendor/jRespond/jRespond.min.js"%}"></script>#}
{##}
{#        <script src="{% static "assets/js/vendor/sparkline/jquery.sparkline.min.js"%}"></script>#}
{##}
{#        <script src="{% static "assets/js/vendor/slimscroll/jquery.slimscroll.min.js"%}"></script>#}
{##}
{#        <script src="{% static "assets/js/vendor/animsition/js/jquery.animsition.min.js"%}"></script>#}
{##}
{#        <script src="{% static "assets/js/vendor/screenfull/screenfull.min.js"%}"></script>#}

        <script src="{% static "assets/js/vendor/datatables/js/jquery.dataTables.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/Responsive/js/dataTables.responsive.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/ColVis/js/dataTables.colVis.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"%}"></script>
        <script src="{% static "assets/js/vendor/datatables/extensions/dataTables.bootstrap.js"%}"></script>

        <!--/ vendor javascripts -->

        <!-- ===============================================
        ============== Page Specific Scripts ===============
        ================================================ -->
    <script>
      $( function() {
          var message = $("#message_type").val();
          if (message !== "")
          {
               $( "#dialog" ).dialog();
          }
          else
          {

          }



      } );
  </script>


        <script type="text/javascript">
            $(window).load(function(){


                //initialize responsive datatable
                var table3 = $('#responsive-usage').DataTable({
                    "processing":true,
{#                    "ajax": "{% static "assets/extras/datatables-responsive.json"%}",#}
                    "ajax" :
                        {
                                            "url": "/truck/all_truck/",
                                            "dataSrc": "",
                                            "targets": -1,
{#                "type":"POST",#}
                                            "dataType": "json",
                                            "contentType": "application/json; charset=utf-8"
                        },

                    "columns": [

                        { "data": "licanse_number" },
                        { "data": "truck_oem" },
                        { "data": "mobile_number" },
                        { "data": "truck_capacity" },
                        { "data": "truck_type" },
                        { "data": "wheels" },
                        { "data": "owener_name" },
                        { "data": "axle_type" },
                        { "data": "model" },
                        {
                        "title": "Edit",
                            "render": function (data, type, row, meta) {

                            return '<a href="/truck/edit_truck/' + row["id"] + '">' + "Edit" + '</a>';
             },

         },
                        {
                            "title": "Deleate",
                            "render": function (data, type, row, meta) {
                                return '<a href="/truck/deleate_truck/' + row["id"] + '">' + "Deleate" + '</a>';
                            }
                        }
                    ],
                    "aoColumnDefs": [
                      { 'bSortable': false, 'aTargets': [ "no-sort" ] }
                    ]
                });

                var table = $('#responsive-usage').DataTable();

$('#responsive-usage tbody').on( 'click', 'td', function () {
    if ((table.cell( this ).index().columnVisible) === 8)
                {
                    alert("data Deleted");
                }
{#    else{#}
{#                    alert("by");#}
{##}
{#    }#}


} );
                //*initialize responsive datatable

{#                //initialize responsive datatable#}
{#                function stateChange(iColumn, bVisible) {#}
{#                    console.log('The column', iColumn, ' has changed its status to', bVisible);#}
{#                }#}
{##}
{#                var table4 = $('#advanced-usage').DataTable({#}
{#                    "ajax": "{% static "assets/extras/datatables-basic.json"%}",#}
{#                    "columns": [#}
{#                        { "data": "id" },#}
{#                        { "data": "firstName" },#}
{#                        { "data": "lastName" }#}
{#                    ],#}
{#                    "aoColumnDefs": [#}
{#                      { 'bSortable': false, 'aTargets': [ "no-sort" ] }#}
{#                    ]#}
{#                });#}
{##}
{#                var colvis = new $.fn.dataTable.ColVis(table4);#}
{##}
{#                $(colvis.button()).insertAfter('#colVis');#}
{#                $(colvis.button()).find('button').addClass('btn btn-default').removeClass('ColVis_Button');#}
{##}
{##}
{#                $(tt.fnContainer()).insertAfter('#tableTools');#}
{#                //*initialize responsive datatable#}

            });
        </script>
        <!--/ Page Specific Scripts -->

{% endblock %}